@font-face {
  font-family: shabnam;
  src: url(../assets/fonts/Shabnam-Bold.ttf);
  src: url(../assets/fonts/Shabnam-Light.ttf);
  src: url(../assets/fonts/Shabnam.eot);
  src: url(../assets/fonts/Shabnam.ttf);
  src: url(../assets/fonts/Shabnam.woff);
}

html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  direction: rtl;
  text-align: right;
}

* {
  box-sizing: border-box;
  font-family: shabnam;
}

.container-fluid .navbar-new {
  justify-content: space-between;
  direction: ltr;
  text-align: right;
  box-shadow: -2.5px 4.3px 15px 0 #e0e0e0;
  background-color: #ffffff;
  position: absolute;
  z-index: 20;
}

.container-fluid .navbar-toggler-new {
  display: flex;
  align-items: center;
  flex-direction: row !important;
  justify-content: flex-start !important;
  border: none !important;
  outline: none !important;
  padding: 0px;
  z-index: 10;
}

.container-fluid .download-box-navbar {
  width: 120px;
  height: 40px;
  color: white;
  cursor: pointer;
  border-radius: 20px;
  box-shadow: 0px 7px 20px 0 rgba(227, 84, 39, 0.3);
  background-image: linear-gradient(to top, #e35325, #ff8a65);
  align-items: center;
  justify-content: center;
}

.container-fluid .download-box-navbar:hover {
  box-shadow: 0px 7px 3px 0 rgba(227, 84, 39, 0.3);
  background-image: linear-gradient(to bottom right, #e93d03, #fcaf97);
}

.container-fluid .logo-image-top {
  position: absolute;
  z-index: -1;
  top: -25px;
  width: 150%;
}

.container-fluid .header-wave {
  position: absolute;
  width: 20%;
  z-index: -1;
  left: 0px;
  top: 0px;
}

.container-fluid .slideshow-div {
  position: relative;
}

.container-fluid .dot {
  cursor: pointer;
  height: 12px;
  width: 12px;
  margin: 0 5px;
  background-color: #bdbdbd;
  border-radius: 6px;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.container-fluid .active {
  background-color: #ff7043;
  width: 24px;
}

.container-fluid .icon-bar {
  height: 95px;
  padding: 10px 0px;
  margin: -30px 0px 0px 0px;
  position: relative;
  overflow-x: scroll;
  overflow-y: hidden;
}

.container-fluid .icon-bar2 {
  position: relative;
}

.container-fluid .vertical-line {
  border-left: 1.5px  solid #00f4bd;
  height: 100%;
  position: absolute;
  right: 21px;
  top: -10px;
  z-index: -1;
}

.container-fluid .download-box {
  border-radius: 15px;
  box-shadow: 2.5px 4.3px 25px 0 #e5e5e5;
  background-color: #ffffff;
  text-align: center;
  margin-top: 50px;
}

.container-fluid .amadegi-safar {
  z-index: 20;
  height: 350px;
}

.container-fluid .bg-amadegi-safar1 {
  position: relative;
  margin-top: -350px;
  height: 350px;
}

.container-fluid .bg-green-color {
  position: relative;
  margin-top: -362px;
  height: 350px;
  opacity: 0.7;
  background-color: #013f31;
}

.container-fluid .bg-amadegi-safar2 {
  position: relative;
  margin-top: -350px;
  height: 350px;
}

.container-fluid .ide-safar {
  text-align: center;
}

.container-fluid .footer-bg {
  background-image: url(../assets/025_footer_Bg.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar-new i {
  color: #007f62;
}

.fa-globe-americas {
  color: #007f62;
}

h3, h4 {
  color: #007f62;
}

.footer-bg .ul-border {
  width: 8px;
  height: 8px;
  border-radius: 4px;
  border: solid 1px #ffffff;
  background-color: transparent;
}

.footer-bg .ul-text {
  font-size: 10px;
  color: #ffffff;
}

.footer-bg .footer-wave {
  margin: -200px 0px 0px 0px;
  right: -350px;
  z-index: -1;
}

.amadegi-safar .amadegi-safar-text {
  text-align: center;
  color: #ffffff;
}

.amadegi-safar .amadegi-safar-text p {
  opacity: 0.8;
}

.amadegi-safar .bottom-amadegi-safar {
  width: 150px;
  height: 40px;
  border-radius: 25px;
  border: none;
  box-shadow: 0px 7px 20px 0 rgba(227, 84, 39, 0.3);
  background-image: linear-gradient(to top, #e35325, #ff8a65);
  outline: none;
  color: #ffffff;
}

.hotel-jostoju {
  font-size: 25px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.75px;
  text-align: right;
  color: #007f62;
  text-align: justify;
}

.jostoju {
  text-align: justify;
}

.text-of-slideshow {
  height: 200px;
}

.text-of-slideshow .p1 {
  margin-top: 29px;
  font-size: 25px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: right;
  color: #007f62;
}

.text-of-slideshow .rectangle {
  width: 70px;
  height: 3px;
  background-color: #00a680;
  margin-top: 17px;
  margin-bottom: 24px;
}

.text-of-slideshow .p2 {
  font-size: 16px;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: right;
  color: #000000;
}

.slideshow-div .mySlides {
  display: none;
}

.slideshow-div .size-slide {
  height: auto;
}

.icon-bar .icon {
  min-width: 72px;
  height: 72px;
  border: 1.5px solid #00f4bd;
  border-radius: 36px;
  margin: 0px 0px 0px 18px;
  position: relative;
  box-sizing: border-box;
}

.icon-bar .icon:hover {
  background-image: linear-gradient(to top, #f46739, #ff9f81);
  border: none !important;
  width: 76px;
  height: 76px;
  border-radius: 38px;
  box-shadow: 0px 0px 5px #f46739;
}

.icon-bar2 .icon {
  width: 42px;
  height: 42px;
  border: 1.5px solid #00f4bd;
  border-radius: 21px;
  margin: 0px 0px 30px 0px;
  position: relative;
  box-sizing: border-box;
  background-color: #ffffff;
}

.icon-bar2 .icon:hover {
  background-image: linear-gradient(to top, #f46739, #ff9f81);
  border: none !important;
  width: 46px;
  height: 46px;
  border-radius: 23px;
  box-shadow: 0px 0px 5px #f46739;
  cursor: pointer;
}

.mobile .mobile-content {
  border-bottom-right-radius: 40px;
  border-bottom-left-radius: 40px;
}

.download-box .input-phone {
  height: 40px;
  border-radius: 25px;
  border: solid 1px #eeeeee;
  background-color: #fafafa;
  outline: none;
  text-align: left;
}

.download-box .bottom-phone {
  height: 40px;
  border-radius: 25px;
  border: none;
  box-shadow: 0px 7px 20px 0 rgba(227, 84, 39, 0.3);
  background-image: linear-gradient(to top, #e35325, #ff8a65);
  outline: none;
  color: #ffffff;
}

.download-box .bottom-phone:hover {
  box-shadow: 0px 7px 3px 0 rgba(227, 84, 39, 0.3);
  background-image: linear-gradient(to bottom right, #e93d03, #fcaf97);
}

.download-box .play-store {
  height: 40px;
  border-radius: 20px;
  border: none;
  box-shadow: 0px 6px 15px 0 rgba(0, 127, 98, 0.25);
  background-image: linear-gradient(to top, #02a37e, #2dd6af);
  outline: none;
  color: #ffffff;
  font-size: 14px;
}

.play-store .bazar-icon {
  width: 30px;
}

.play-store:hover {
  box-shadow: 0px 7px 3px 0 rgba(0, 127, 98, 0.25);
  background-image: linear-gradient(to bottom right, #00c597, #53ffd4);
}

.ide-safar .input-email {
  height: 40px;
  border-radius: 25px;
  border: solid 1px #eeeeee;
  background-color: #fafafa;
  outline: none;
  text-align: right;
  box-shadow: 0px 4px 20px 0 rgba(0, 88, 67, 0.17);
  background-color: #ffffff;
}

.ide-safar .bottom-email {
  height: 40px;
  border-radius: 25px;
  border: none;
  box-shadow: 0px 7px 20px 0 rgba(227, 84, 39, 0.3);
  background-image: linear-gradient(to top, #e35325, #ff8a65);
  outline: none;
  color: #ffffff;
}

.ide-safar .bottom-email:hover {
  box-shadow: 0px 7px 3px 0 rgba(227, 84, 39, 0.3);
  background-image: linear-gradient(to bottom right, #e93d03, #fcaf97);
}

.ide-safar .images {
  overflow-x: scroll;
}

.images img {
  width: 200px;
  height: 150px;
  margin: 0 10px;
}

.images .image-hover {
  display: none;
}

.images .image-hover p {
  color: white;
  margin-top: auto;
  opacity: 1;
}

.images .image:hover .image-hover {
  display: block;
  position: absolute;
  width: 200px;
  height: 50px;
  opacity: 0.6;
  background-color: #000000;
  z-index: 10;
  margin: -50px 10px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
}

@media screen and (max-width: 576px) {
  .mobile {
    max-height: 650px;
  }
}

@media screen and (min-width: 768px) {
  .play-store {
    transform: translateY(35px);
  }
}

@media screen and (min-width: 992px) {
  .navbar-new {
    box-shadow: 0 0 0 0 !important;
    background-color: transparent !important;
  }
  .amadegi-safar-text {
    margin-top: 100px;
  }
  .bottom-amadegi-safar {
    transform: translateY(20px);
  }
  .bottom-amadegi-safar:hover {
    box-shadow: 0px 7px 3px 0 rgba(227, 84, 39, 0.3);
    background-image: linear-gradient(to bottom right, #e93d03, #fcaf97);
  }
  .navbar-nav-new {
    direction: rtl;
  }
  .nav-item-new {
    font-size: 79%;
  }
  .hotel-jostoju {
    font-size: 23px;
  }
  .jostoju {
    font-size: 15px;
  }
  .slideshow-container {
    height: 500px;
  }
  .slideshow-div {
    margin-top: 200px;
  }
  .mobile-section {
    max-height: 750px;
  }
}

@media screen and (min-width: 1200px) {
  .nav-item-new {
    font-size: 95%;
  }
  .bottom-amadegi-safar {
    transform: translateY(30px);
  }
}

@media screen and (min-width: 1500px) {
  .bottom-amadegi-safar {
    transform: translateY(45px);
  }
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 2000;
  position: fixed;
}
/*# sourceMappingURL=main.css.map */