// @import 'themes/theme';


html, body{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    direction: rtl;
    text-align: right;
}
*{
    box-sizing: border-box;
}
.container-fluid{
    .navbar-new{
        justify-content: space-between;
        direction: ltr;
        text-align: right;
        // height: 80px;
        box-shadow: -2.5px 4.3px 15px 0 #e0e0e0;
        background-color: #ffffff;
    }
    .navbar-toggler-new{
        display: flex;
        align-items: center;
        flex-direction: row !important;
        justify-content: flex-start !important;
        border: none !important;
        outline: none !important;
        padding: 0px;
        z-index: 10;
    }
    .download-box-navbar{
        width: 120px;
        height: 40px;
        color: white;
        cursor: pointer;
        border-radius: 20px;
        box-shadow: 0px 7px 20px 0 rgba(227, 84, 39, 0.3);
        background-image: linear-gradient(to top, #e35325, #ff8a65);
        // display: flex;
        align-items: center;
        justify-content: center;
    }
    .logo-image-top{
        position: absolute;
        z-index: -1; 
        top: -25px; 
        width: 150%;
    }
    .header-wave{
        position: absolute;
        width: 20%;
        z-index: -1;
        left: 0px;
        top: 0px;
    }
    .slideshow-container{
        position: relative;
    }
    .dot {
        cursor: pointer;
        height: 12px;
        width: 12px;
        margin: 0 5px;
        background-color: #bdbdbd;
        border-radius: 6px;
        display: inline-block;
        transition: background-color 0.6s ease;
    }
      
    .active {
        background-color: #ff7043;
        width: 24px;
    }
    .icon-bar{
        height: 70px;
        margin: -30px 0px 0px 0px;
        position: relative;
        overflow-x: scroll;
    }
    .mobile{
        background: url(../assets/012_phonemockup.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        // height: 587px;
    }
    .icon-bar2{
        position: relative;
        width: 100px;
        height: 350px;
    }
    .vertical-line{
        border-left: 1.5px  solid #00f4bd;
        height: 376px;
        position: absolute;
        right: 21px;
        top: -10px;
        z-index: -1;
    }
    .download-box{
        border-radius: 15px;
        box-shadow: 2.5px 4.3px 25px 0 #e5e5e5;
        background-color: #ffffff;
        text-align: center;
        margin-top: 50px;
    }
}
.hotel-jostoju{
    // font-family: 'Shabnam', sans-serif;
    font-size: 25px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.75px;
    text-align: right;
    color: #007f62;
    text-align: justify;
}
.jostoju{
    text-align: justify;
}
.text-of-slideshow{
    .p1{
        margin-top: 29px;
        // font-family: Shabnam-FD;
        font-size: 25px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        // line-height: normal;
        letter-spacing: normal;
        text-align: right;
        color: #007f62;
    }
    .rectangle{
        width: 70px;
        height: 3px;
        background-color: #00a680;
        margin-top: 17px;
        margin-bottom: 24px;
    }
    .p2{
        // font-family: Shabnam-FD;
        font-size: 16px;
        // font-weight: 300;
        font-stretch: normal;
        font-style: normal;
        // line-height: 1.5;
        letter-spacing: normal;
        text-align: right;
        color: #000000;
    }
}

.slideshow-container{
    .mySlides {
        display: none;
    }
    .fade {
        animation-name: fade;
        animation-duration: 1.5s;
    }
    @keyframes fade {
        from {opacity: 0.2} 
        to {opacity: 1}
    }
}
.icon-bar{
    .icon{
        width: 72px;
        height: 72px;
        border: 1.5px solid #00f4bd;
        border-radius: 36px;
        float: left;
        margin: 0px 0px 0px 18px;
        position: relative;
        box-sizing: border-box;
    }
    .icon:hover{
        background-image: linear-gradient(to top, #f46739, #ff9f81);
        border: none !important;
        width: 76px;
        height: 76px;
        border-radius: 38px;
        box-shadow: 0px 0px 5px #f46739;
    }
}
.icon-bar2{
    .icon{
        width: 42px;
        height: 42px;
        border: 1.5px solid #00f4bd;
        border-radius: 21px;
        margin: 0px 0px 20px 0px;
        position: relative;
        box-sizing: border-box;
        background-color: #ffffff;
    }
    .icon:hover{
        background-image: linear-gradient(to top, #f46739, #ff9f81);
        border: none !important;
        width: 46px;
        height: 46px;
        border-radius: 23px;
        box-shadow: 0px 0px 5px #f46739;
        cursor: pointer;
    }
}
.mobile{
    .mobile-content{
        border-bottom-right-radius: 40px;
        border-bottom-left-radius: 40px;
    }
}
.download-box{
    .input-phone{
        height: 40px;
        border-radius: 25px;
        border: solid 1px #eeeeee;
        background-color: #fafafa;
        outline: none;
        text-align: left;
        // border: none;
    }
    .bottom-phone{
        height: 40px;
        border-radius: 25px;
        border: none;
        box-shadow: 0px 7px 20px 0 rgba(227, 84, 39, 0.3);
        background-image: linear-gradient(to top, #e35325, #ff8a65);
        outline: none;
        color: #ffffff;
    }
}
@media screen and (min-width: 992px) {
    .navbar-new{
        box-shadow: 0 0 0 0 !important;
        background-color: transparent !important;
    }
    .navbar-nav-new{
        direction: rtl;
    }
    .nav-item-new{
        font-size: 79%;
    }
    .hotel-jostoju{
        font-size: 23px;
    }
    .jostoju{
        font-size: 15px;
    }
}
@media screen and (min-width: 1200px) {
    .nav-item-new{
        font-size: 95%;
    }
}